/*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    background-color: hwb(26 65% 29%);
}
*/

.body{
    /*min-height: 100%;*/
    font-family: 'Archivo', sans-serif;
    font-family: 'Kanit', sans-serif;
}

h1{
color: #363958;
font-family: Bebas Neue;
/*font-size: 80px;*/
font-style: normal;
/*font-weight: 700;*/
line-height: normal;
}

.name-highlight{
color: #FF8367;
font-family: Bebas Neue;
/*font-size: 80px;*/
font-style: normal;
/*font-weight: 700;*/
/*line-height: normal;*/

}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 3%;

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightsalmon,tomato);
    padding: 10px;
    border-radius: 5px;
    color:white;
    font-weight: 700;
}

